* {
    font-size: 60px;
    margin: 0;
}

#box1 {
    background-color: darkred;
    width: 300px ;
    padding: 30px;
    border: 10px solid green;
}

#box2{
    background-color: hotpink;
    width: 300px ;
    padding: 30px;
    border: 10px solid darkred;
    box-sizing: border-box;
}

#parent {
    width: 300px;
    border: 10px solid turquoise;
}

#child {
    width: 100%;
    border: 10px solid khaki;
    padding: 5px;
}

*,*:before,*:after {
    box-sizing: border-box;
}