*{
    margin: 0;
}

.parent-container{
    border: 5px solid tomato;
    width: 1000px;
    min-height: 100px;
}

.parent-container div{
    padding: 20px 0;
    margin: 10px 0;
    color: turquoise;
    background-color: teal;
}

html{
    /*font-size: 16px;*/
}

.px{
    font-size: 30px;
    width: 400px;
}

.rem{
    font-size: 2rem;
    width: 25rem;
}

.em{
    font-size: 2em;
    width: 25em;
}

.vw{
    width: 100vw;
}

.percent{
    width: 80%;
}

.vh{
    width: 20vh;
}